a{
    color: #35509a;
    text-decoration: none !important;
    background-color: transparent;
}
body{
    text-align: center;
}
#ielts-simulation-listening-test-1{
    padding-top: 50px;
    width: 100%;
    font-size: 50px;
    text-align: center;
}

.content{
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 700px;
    text-align: center;
}

.test-user-results{
    min-width: 800px;
}

.row{
    justify-content: center;
}

/* CSS for header */
.header_main {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(7, 7, 7, 0.5);
    /* margin-bottom: 400px; */
}

.logo {
    /* width: 100%; */
    /* justify-content: center; */
    align-items: center;
    /* justify-items: center; */
    /* align-content: center; */
    /* text-align: center; */
    display: flex;
}

.logo img {
    /* size: 50%; */
    width: 50px;
    height: 50px;
    /* margin-right: 10px; */
    margin: 10px
}

.logo p {
    font-size: 40px;
    /* font-weight: 600; */
    color: #010B45;
    /* margin: 10px; */
    /* padding-left: 20px; */
    font-weight: bold;
}

.info_user {
    display: flex;
    align-items: center;
}

.name_user {
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    color: #010B45;
    /* margin: 10px; */
    /* padding-right: 10px; */
}

.info_user img {
    text-align: center;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.content-wrapper{
    padding-top: 100px;
}